@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

//standard colors
$dark: #333333;
$light: #8a8a8a;
$white: #ffffff;
$primary-blue: #1487FD;
$secondary-yellow: #ffbb00;
$background-break: #f5f5f5;
$formfield-background: #fbfbfb;

//fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;


$fontsize-small: 14px;
$fontsize-normal: 16px;
$fontsize-big: 18px;
$fontsize-numberText: 25px;
$fontsize-smallHeader: 40px;
$fontsize-normalHeader: 50px;
$fontsize-bigHeader: 57px;
$fontsize-subHeader: 20px;




