.grid_s4{ 
    background-color: $white; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "header"
                            "text"
                            "bigimg";
    justify-items: center;
    margin-top: 5rem;

    #screen_head{
        grid-area: header;
        text-align: center;
    }
    #screen_text{
        grid-area: text; 
        text-align: center;
        margin-top: 1rem;
        width: 30%;
    }
    #screen_image{
        margin-top: 4rem;
    }
}